.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-bottom: 3rem;
  margin-top: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(231, 217, 170);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

.course {
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(20, 28, 66);
  border-radius: 4px;
  width: 15rem;
  height: 18rem;
  margin-bottom: 1rem;
}

.primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.text {
  text-align: center;
  color: gray;
  font-family: monospace;
  font-size: 0.9rem;
}
